<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User Form</title>
<link rel="stylesheet"  type="text/css" href="assets/style.css">
</head>
<body>

<form method="post" action="">
	<fieldset><legend>User Details</legend>
		<div>
			<label for="sirname">Sirname</label>
			<input type="text" id="sirname" name="sirname" value="$sirname">
		</div>
		
		<div>
			<label for="firstname">Firstname</label>
			<input type="text" id="firstname" name="firstname" value="$firstname">
		</div>
	</fieldset>
	
	<button onclick="window.close();">Cancel</button>
	<input type="submit" value="Save">
</form>

</body>
</html>